.input{
    margin-left: 20px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid #353637;
    outline: 0;
}
.input:focus{
    box-shadow: 0 0 0 2px rgba(100, 108, 255, 0.2);
}